.footer {
	padding: 2rem 0;

	.container {
		width: 50%;
		margin: 0 auto;
		text-align: center;

		.social {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;

			& > * {
				margin-right: 1.5rem;
				& > *:hover {
					color: $color-primary-dark;
					transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
				}
			}
		}
		@include respond(tab-port) {
			width: 70%;
		}
	}
}
